body {
  background: #0f2f35;
  color: white;
  font-family: Arial;
  text-align: center;
}

.card {
  background: #23474d;
  padding: 25px;
  margin: 100px auto;
  width: 320px;
  border-radius: 12px;
}

input {
  width: 95%;
  margin: 8px;
  padding: 10px;
}

button {
  width: 95%;
  padding: 10px;
  margin: 8px;
  background: #00bcd4;
  border: none;
  color: white;
  cursor: pointer;
}
